.root {
  display: flex;
  max-width: 90%;
  padding-top: 120px;
  margin: auto;
  align-items: center;
}
.question {
  background: #272c48;
  box-shadow: 20px 20px 0px #ff4e91;
  transform: matrix(1, -0.01, 0.03, 1, 0, 0);
  position: relative;
  padding: 56px 94px;
  flex: 1;
  margin-left: 130px;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: 0.025em;

  color: #ffffff;
}

.flash {
  position: absolute;
  z-index: 1;
}

.timer {
  background: #ffffff;
  box-shadow: 20px 20px 0px #ff4e91;
  transform: matrix(1, 0.05, -0.05, 1, -12, -17);
  padding: 32px 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.025em;
  width: 270px;
  color: #272c48;
}
