.root {
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #5961b0 0%, #4dd5f0 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/Pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
