{% extends 'base.html' %}

{% block content %}
    <h1>Overview</h1>
    <form method="post">
        <table class="table round-overview">
            <thead class="thead-light sticky-top bg-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Time per press</th>
                    <th scope="col">Live?</th>
                </tr>
            </thead>
            <tbody>
        {% for round in rounds %}
            {% set id = round['round_id'] | string %}
                <tr class="{{ 'new' if id == 'n' }}" id="{{ 'new' if id == 'n' else id }}-row">
                    <th scope="row"><span class="id">{{ round['round_id'] }}</span></th>
                    <td>
                        <input name="{{ id + '_time_seconds' }}" class="form-control form-control-sm" type="text" value="{{ round['time_seconds'] if round['time_seconds'] is not none }}">
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input name="{{ id + '_is_live' }}" class="form-check-input round-live" type="checkbox" {{ 'checked' if round['is_live'] }} role="switch" id="round-live-{{ round['round_id'] }}" onclick="onlyAllowOneActive(this.id)">
                            <label class="form-check-label" for="round-live-{{ round['round_id'] }}">Live</label>
                        </div>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        <div class="container clearfix">
            <button type="button" class="btn btn-success" id="add-round-button" onclick="showNewRoundForm()">Add Round</button>
            <button type="submit" class="btn btn-primary float-end" id="round-form-button">Save Changes</button>
        </div>
    </form>
{% endblock %}
