{% extends 'base.html' %}

{% block content %}
    <h2>Room {{ room.room_id }} - Presses</h2>
    <div class="press-data">
        {% if room.presses_total %}
            <div class="card" style="width: 50%;">
                <h5 class="card-header">Latest Stats</h5>
                <div class="card-body">
                    <table class="table my-0 table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">Total presses this round</th>
                                <td>{{ room.presses_total }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Most recent press (UTC)</th>
                                <td>{{ room.latest_press.created }}</td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
            <div class="w-75">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Press ID</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for press in room.presses %}
                        <tr>
                            <td>{{ press.press_id }}</td>
                            <td>{{ press.created }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        {% else %}
            <p>Room {{ room.room_id }} has not pressed any buttons yet.</p>
        {% endif %}
    </div>
    <div class="card vote-select mt-3 w-50">
      <div class="card-body">
        <h5 class="card-title">Force Reset a Room's Timer</h5>
        <p class="card-text">Forcibly reset a room so it is active again and has its timer reset for the countdown game.</p>
        <form method="post">
            <div class="d-inline-flex">
                <input type="submit" class="btn btn-danger" name="reset_timer" value="Reset Timer for Room {{ room.room_id }}">
            </div>
        </form>
      </div>
    </div>
{% endblock %}
