{% extends 'base.html' %}

{% block content %}
    <h2>Room Timers</h2>
    <div class="room-grid d-flex flex-wrap flex-column-reverse">
        {% for room in rooms %}
            <a href="/room-presses/{{ room.room_id }}" class="room-link m-1 p-1">
                <div class="room m-0 p-1 text-dark {{ ' has-pressed' if room.most_recent_press }}{{ ' room-off' if not room['live'] }}{{ ' room-time-expired' if not room.time_remaining_seconds }}">
                    <h2 class="room-id mb-2 p-0">{{ room.room_id }}</h2>
                    {% if room.live %}
                    <div class="press-data text-center">
                        <div class="countdown">
                            <div class="timer" id="timer_{{ room.room_id }}">{{ room.time_remaining }}</div>
                        </div>
                        <div class="number-of-presses">
                            <span class="press-count">{{ room.presses }} press{{ room.presses | pluralize('', 'es') }}</span><br>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="accordion mt-3" id="accordionTimerReset">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTimerReset">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTimerReset" aria-expanded="true" aria-controls="collapseTimerReset">
                Reset ALL Room Timers
                </button>
            </h2>
        <div id="collapseTimerReset" class="accordion-collapse collapse" aria-labelledby="headingEndpoints" data-bs-parent="#headingTimerReset">
            <div class="accordion-body room-colors">
                <p class="card-text">Reset ALL rooms that are 'Live' and reset all their timers. Do this only if absolutely necessary. If you'd like to exclude a room from this reset, make sure to turn off the 'Live' switch on the Room Control page for the room.</p>
                <p><strong>Warning</strong>: This operation is irreversible!</p>
                <form method="post">
                    <div class="d-inline-flex w-25">
                        <button type="submit" class="btn btn-danger" name="reset_all_timers" value="1">Reset ALL Room Timers</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='timers.js') }}"></script>
{% endblock %}
