{% extends 'base.html' %}

{% block content %}
    <h2>Last Press</h2>
        <div class="latest-vote">
            <table>
                <tr>
                    <td class="pt-4 pb-5" style="width: 100%;">
                        <span class="label">Room</span><br>
                        <span class="value">{{ presses[0].room_id }}</span>
                    </td>
                </tr>
            </table>
            <div class="text-center vote-metadata pb-2">Button Pushed at: {{ presses[0].created }}</div>
        </div>
    <h2 class="mt-2">Recent Presses</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Room</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for press in presses %}
            <tr>
                <th scope="row">{{ press.room_id }}</th>
                <td>{{ press.created }}</td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
    <!-- Refresh page every .5 seconds -->
    <script type="text/javascript">
        setTimeout(function () { location.reload(1); }, 500);
    </script>
{% endblock %}
