<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jeff Geerling, Network Chuck, and co">
    <title>{% block title %} {% endblock %}</title>
    <!-- Bootstrap CSS -->
    <!-- TODO SWITCH TO LOCAL (non-CDN) COPY! -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Beast Game</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tally">Vote Display</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rounds">Round Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/test">Testing</a>
            </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
        {% block content %} {% endblock %}
    </main>
    <!-- Bootstrap JS -->
    <!-- TODO SWITCH TO LOCAL (non-CDN) COPY! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
