<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jeff Geerling, Network Chuck, and co">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-beast">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='mr-beast-logo.png') }}" alt="Mr. Beast Logo" width="50" height="36">
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link{{ ' active' if page == 'index' }}" href="/">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ ' active' if page == 'tally' }}" href="/tally">Live Tally</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ ' active' if page == 'room-votes' }}" href="/room-votes">Room Votes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ ' active' if page == 'room-control' }}" href="/room-control">Room Control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ ' active' if page == 'test' }}" href="/test">Test Mode</a>
            </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
        <div class="container mt-2">
            {% block content %} {% endblock %}
        </div>
{% if debug %}
        <footer class="py-3 my-4 border-top">
            <p class="text-end text-muted">__EXECUTION_TIME__</p>
        </footer>
{% endif %}
    </main>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>
