{% extends 'base.html' %}

{% block content %}
    <h1>Overview</h1>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <form method="post">
        <div class="table-responsive">
            <table class="table round-overview">
                <thead class="thead-light sticky-top bg-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Option 1</th>
                        <th scope="col">Option 2</th>
                        <th scope="col">Option 3</th>
                        <th scope="col">Live?</th>
                        <th scope="col">Live Colors?</th>
                        <th scope="col" class="hidden">Accept Votes?</th>
                        <th scope="col">Allow vote changes</th>
                        <th scope="col" class="hidden">Participants</th>
                    </tr>
                </thead>
                <tbody>
            {% for round in rounds %}
                {% set id = round['round_id'] | string %}
                    <tr class="{{ 'new' if id == 'n' }}" id="{{ 'new' if id == 'n' else id }}-row">
                        <th scope="row"><span class="id">{{ round['round_id'] }}</span></th>
                        <td>
                            <input name="{{ id + '_value_0' }}" class="form-control form-control-sm" type="text" value="{{ round['value_0'] if round['value_0'] is not none }}">
                        </td>
                        <td>
                            <input name="{{ id + '_value_1' }}" class="form-control form-control-sm" type="text" value="{{ round['value_1'] if round['value_1'] is not none }}">
                        </td>
                        <td>
                            <input name="{{ id + '_value_2' }}" class="form-control form-control-sm" type="text" value="{{ round['value_2'] if round['value_2'] is not none }}">
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                <input name="{{ id + '_live' }}" class="form-check-input round-live" type="checkbox" {{ 'checked' if round['live'] }} role="switch" id="round-live-{{ round['round_id'] }}" onclick="onlyAllowOneLive(this.id)">
                                <label class="form-check-label" for="round-live-{{ round['round_id'] }}">Live</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                <input name="{{ id + '_live_colors' }}" class="form-check-input round-live_colors" type="checkbox" {{ 'checked' if round['live_colors'] }} role="switch" id="round-live_colors-{{ round['round_id'] }}">
                                <label class="form-check-label" for="round-live_colors-{{ round['round_id'] }}">Live Colors</label>
                            </div>
                        </td>
                        <td class="hidden">
                            <div class="form-check form-switch">
                                <input name="{{ id + '_is_accepting_votes' }}" class="form-check-input round-accepting" type="checkbox" {{ 'checked' if round['is_accepting_votes'] }} role="switch" id="round-accepting-{{ round['round_id'] }}" onclick="onlyAllowOneAccepting(this.id)">
                                <label class="form-check-label" for="round-accepting-{{ round['round_id'] }}">Voting On</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                <input name="{{ id + '_is_allowing_multiple_votes' }}" class="form-check-input" type="checkbox" {{ 'checked' if round['is_allowing_multiple_votes'] }} role="switch" id="round-changes-{{ round['round_id'] }}">
                                <label class="form-check-label" for="round-changes-{{ round['round_id'] }}">Allow vote changes</label>
                            </div>
                        </td>
                        <td class="hidden">
                            <input name="{{ id + '_total_participants' }}" class="form-control form-control-sm" type="text" value="{{ round['total_participants'] }}">
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container clearfix">
            <button type="button" class="btn btn-success" id="add-round-button" onclick="showNewRoundForm()">Add Round</button>
            <button type="submit" class="btn btn-primary float-end" id="round-form-button">Save Changes</button>
        </div>
    </form>
    <div class="accordion mt-3" id="accordionColors">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingColors">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseColors" aria-expanded="true" aria-controls="collapseColors">
                Set Room Colors
                </button>
            </h2>
            <div id="collapseColors" class="accordion-collapse collapse" aria-labelledby="headingColors" data-bs-parent="#accordionColors">
                <div class="accordion-body room-colors">
                    <p>Choose a color for each option for the live round. When you click 'Set Room Colors', the rooms will change to the colors associated with their current vote.</p>
                    <form method="post">
                        <input type="checkbox" class="d-none" name="room_color_form" id="room-color-form" checked>
                        {% for option in color_options %}
                            <div class="container-fluid ps-0 my-3">
                                <div class="p-0">Color for <strong>{{ option }}</strong>:</div>
                                <input type="radio" class="btn-check" name="color_{{ loop.index0 }}" value="green" id="green_{{ loop.index0 }}" autocomplete="off"{{ ' checked' if loop.index0 == 0 }}>
                                <label class="btn btn-outline-primary btn-green" for="green_{{ loop.index0 }}">Green</label>
                                <input type="radio" class="btn-check" name="color_{{ loop.index0 }}" value="red" id="red_{{ loop.index0 }}" autocomplete="off" {{ ' checked' if loop.index0 == 1 }}>
                                <label class="btn btn-outline-primary btn-red" for="red_{{ loop.index0 }}">Red</label>
                                <input type="radio" class="btn-check" name="color_{{ loop.index0 }}" value="blue" id="blue_{{ loop.index0 }}" autocomplete="off" {{ ' checked' if loop.index0 == 2 }}>
                                <label class="btn btn-outline-primary btn-blue" for="blue_{{ loop.index0 }}">Blue</label>
                                <input type="radio" class="btn-check" name="color_{{ loop.index0 }}" value="white" id="white_{{ loop.index0 }}" autocomplete="off">
                                <label class="btn btn-outline-primary btn-white" for="white_{{ loop.index0 }}">White</label>
                                <input type="radio" class="btn-check" name="color_{{ loop.index0 }}" value="off" id="off_{{ loop.index0 }}" autocomplete="off">
                                <label class="btn btn-outline-primary btn-off" for="off_{{ loop.index0 }}">Off</label>
                            </div>
                        {% endfor %}
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary" id="set-colors-button">Set Room Colors</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion mt-3" id="accordionColors">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEndpoints">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEndpoints" aria-expanded="true" aria-controls="collapseColors">
                    API Endpoints
                    </button>
                </h2>
            <div id="collapseEndpoints" class="accordion-collapse collapse" aria-labelledby="headingEndpoints" data-bs-parent="#headingEndpoints">
                <div class="accordion-body room-colors">
                    <ul>
                        <li><a href="/live/tally">Live Vote Tally</a></li>
                        <li><a href="/live/round">Live Round Data</a></li>
                        <li><a href="/live/round/participants">Live Round Participant Count</a></li>
                        <li><a href="/live/round/options">Live Round Vote Options</a></li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}
