{% extends 'base.html' %}

{% block content %}
    <h2>Room Votes - Round {{ round.round_id }}</h2>
    <div class="room-grid d-flex flex-wrap flex-column-reverse">
        {% for room in rooms %}
            <a href="/room-vote/{{ room.room_id }}" class="room-link m-1 p-1">
                <div class="room m-1 p-1 text-dark{{ ' has-voted' if room.most_recent_vote }}{{ ' room-off' if not room['live'] }}">
                    <h2 class="room-id">{{ room.room_id }}</h2>
                    <div class="vote-data text-center">
                        <div class="vote">
                            <span class="vote-value">{{ room.most_recent_vote }}</span><br>
                        </div>
                        <div class="number-of-votes">
                            <span class="vote-count">{{ room.votes_this_round }} vote{{ room.votes_this_round | pluralize }}</span><br>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <!-- Refresh page every 10 seconds -->
    <script type="text/javascript">
        setTimeout(function () { location.reload(1); }, 10000);
    </script>
{% endblock %}
