{% extends 'base.html' %}

{% block content %}
    <h2>Room Lights</h2>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    <div class="room-grid d-flex flex-wrap flex-column">
        {% for room in rooms %}
            <!-- TODO bg-dark should be dynamic based on room 'color' -->
            <div class="room m-1 p-0 bg-{{ room.color }} text-light text-center">
                <h2 class="room-id">{{ room.room_id }}</h2>
            </div>
        {% endfor %}
    </div>
    <div class="card mt-3" style="width: 50rem;">
      <div class="card-body">
        <h5 class="card-title">Bulk Change Room Lights</h5>
        <p class="card-text">Select a color to apply to all rooms.</p>
        <form method="post">
            <div class="d-inline-flex w-50">
                <select class="form-select" name="color_select">
                    <option selected>-- Choose a color --</option>
                    <option value="off">off</option>
                    <option value="white">white</option>
                    <option value="red">red</option>
                    <option value="green">green</option>
                    <option value="blue">blue</option>
                </select>
            </div>
            <div class="d-inline-flex w-25">
                <button type="submit" class="btn btn-primary">Save Color</button>
            </div>
        </form>
      </div>
    </div>
    <!-- Refresh page every 5 seconds -->
    <script type="text/javascript">
        setTimeout(function () { location.reload(1); }, 10000);
    </script>
{% endblock %}
