<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tally</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <style>
        body,html {
            background-color: #E3447C;
            height: 98.7%;
        }
    </style>
</head>
<body class="tally">
    <div class="tally-page">
        <table class="results width-{{ (votes | length ) }}">
            <tr>
{% set cell_width = (100 / (votes | length)) | int %}
{% for vote in votes %}
                <td style="width: {{ cell_width }}%;">
                    <span class="label">{{ vote.label }}</span><br>
                    <span class="value">{{ vote.total }}</span>
                </td>
{% endfor %}
            </div>
        </table>
    </div>
{% if debug %}
    <div class="execution-time">__EXECUTION_TIME__</div>
{% endif %}
    <!-- Refresh page every 5 seconds -->
    <!-- TODO: Use more intelligent refresh (e.g. javascript / ajax)? -->
    <script type="text/javascript">
        setTimeout(function () { location.reload(1); }, 5000);
    </script>
</body>
</html>
