<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tally</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <style>
        body,html {
            height: 100%;
        }
    </style>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
</head>
<body class="tally">
    <div class="tally-percentage-page values-{{ vote | length }}">
{% for vote in votes %}
        <div class="bar value-{{ loop.index0 }}" style="height: {{ vote.percentage_of_vote_so_far }}%">
            <div class="value"><span>{{ vote.total }} vote{{ vote.total | pluralize }}</span></div>
            <div class="label">{{ vote.label }}</div>
        </div>
{% endfor %}
    </div>
    {% if debug %}
        <div class="execution-time">__EXECUTION_TIME__</div>
    {% endif %}
    <!-- Refresh page every 1 second -->
    <!-- TODO: Use more intelligent refresh (e.g. javascript / ajax)? -->
    <script type="text/javascript">
        setTimeout(function () { location.reload(1); }, 1000);
    </script>
</body>
</html>
