<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tally</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <style>
        body,html {
            background-color: #E3447C;
            font-family: komika_axisregular, Arial;
            color: #fff;
            font-size: 100px;
            text-shadow: 0 0 10px #000;
            height: 98.7%;
        }
    </style>
</head>
<body>
    <div class="tally-page">
        <table class="results">
            <tr>
                <td style="width: 50%;">
                    <span class="label">{{ votes[0].label }}</span><br>
                    <span class="value">{{ votes[0].value }}</span>
                </td>
                <td style="width: 50%;">
                    <span class="label">{{ votes[1].label }}</span><br>
                    <span class="value">{{ votes[1].value }}</span>
                </td>
            </div>
        </table>
    </div>
</body>
</html>
