/* Custom CSS */

/* Global styles */
@font-face {
    font-family: 'komika_axisregular';
    src: url("/static/komika_axis-webfont.woff2") format('woff2'),
         url("/static/komika_axis-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

nav.navbar-beast {
    background-color: #1C5C30;
}

/* Home page */
.round-overview {
    border-collapse: separate;
    border-spacing: 0;
}

.round-overview input[type="text"] {
    width: 8em;
}

.round-overview .new {
    background-color: #e1ffda;
    display: none;
}

.round-overview .new .id {
    visibility: hidden;
}

.room-colors .btn-off {
    color: #000000;
    border-color: #000000;
}
.room-colors .btn-check:checked+.btn-off,
.room-colors .btn-off:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.room-colors .btn-white {
    color: #000000;
    border-color: #000000;
}
.room-colors .btn-check:checked+.btn-white,
.room-colors .btn-white:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.room-colors .btn-red {
    color: #ff0000;
    border-color: #ff0000;
}
.room-colors .btn-check:checked+.btn-red,
.room-colors .btn-red:hover {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

.room-colors .btn-green {
    color: #008000;
    border-color: #008000;
}
.room-colors .btn-check:checked+.btn-green,
.room-colors .btn-green:hover {
    color: #fff;
    background-color: #008000;
    border-color: #008000;
}

/* Room Pages */
.room-grid {
    width: 100%;
    max-width: 1092px;
    max-height: 900px;
}

.room-grid .room {
    width: 75px;
    height: 75px;
}

.room-grid .room {
    background-color: #eeeeee;
}

.room-grid .has-pressed {
    background-color: #9CD3FC;
}

.room-grid .press-count {
    opacity: .5;
}

.room-grid .press-data {
    line-height: .9em;
}

.room-grid .has-pressed h2 {
    color: #ffffff;
}

.room-grid .room h2 {
    font-size: 1.2em;
    padding-top: 0;
    margin: 0 0 10px;
    line-height: .9em;
}

.room-grid .bg-red { background-color: #ff0000; }
.room-grid .bg-green { background-color: #008000; }
.room-grid .bg-blue { background-color: #0000ff; }
.room-grid .bg-white {
    color: #000 !important;
    background-color: #ffffff !important;
    border: 1px solid #eeeeee;
}
.room-grid .bg-off {
    background-color: #dddddd;
}

.room-grid .number-of-presses {
    font-size: .2em;
}

/* Test Mode Page */
.latest-press {
    width: 100%;
    background-color: #E3447C;
    color: #fff;
}

.latest-press table {
    font-size: 100px;
    font-family: komika_axisregular, Arial;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.latest-press .value {
    font-size: 150px;
}

.latest-press .press-metadata {
    font-size: 20px;
    opacity: .4;
}
