/* Custom CSS */

/* Global styles */
@font-face {
    font-family: 'komika_axisregular';
    src: url("/static/komika_axis-webfont.woff2") format('woff2'),
         url("/static/komika_axis-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

nav.navbar-beast {
    background-color: #03497d;
}

/* Home page */
.round-overview input[type="text"] {
    width: 8em;
}

/* Tally page */
.tally-page {
    height: 100%;
}
.tally-page .results {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-weight: bold;
}
.tally-page .results .value {
    font-size: 150px;
}

/* Test Mode Page */
.latest-vote {
    width: 100%;
    background-color: #E3447C;
    color: #fff;
}

.latest-vote table {
    font-size: 100px;
    font-family: komika_axisregular, Arial;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.latest-vote .value {
    font-size: 150px;
}

.latest-vote .vote-metadata {
    font-size: 20px;
    opacity: .4;
}
