/* Custom CSS */

/* Global styles */
@font-face {
    font-family: 'komika_axisregular';
    src: url("/static/komika_axis-webfont.woff2") format('woff2'),
         url("/static/komika_axis-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

nav.navbar-beast {
    background-color: #03497d;
}

/* Home page */
.round-overview {
    border-collapse: separate;
    border-spacing: 0;
}

.round-overview input[type="text"] {
    width: 8em;
}

.round-overview .new {
    background-color: #e1ffda;
    display: none;
}

.round-overview .new .id {
    visibility: hidden;
}

/* Tally page */
.tally-page {
    height: 100%;
    font-family: komika_axisregular, Arial;
    color: #fff;
    font-size: 100px;
    text-shadow: 0 0 10px #000;
}

.tally-page .results {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-weight: bold;
}

.tally-page .width-3 {
    font-size: 80px;
}

.tally-page .results .value {
    font-size: 150px;
}

.tally .execution-time {
    color: #fff;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    opacity: 0.2;
    width: 100%;
    text-align: right;
    padding: 5px;
    margin: -50px;
}

/* Room Pages */
.room-grid {
    width: 100%;
    max-width: 1092px;
}

.room-grid .room {
    width: 100px;
    height: 100px;
}

.room-grid .room {
    background-color: #eeeeee;
}

.room-grid .has-voted {
    background-color: #0992f9;
}

.room-grid .vote-count {
    opacity: .5;
}

.room-grid .has-voted h2 {
    color: #ffffff;
}

.room-grid .room h2 {
    padding-top: 30px;
    margin-bottom: 0;
}

.room-grid .bg-red { background-color: #ff0000; }
.room-grid .bg-green { background-color: #008000; }
.room-grid .bg-blue { background-color: #0000ff; }
.room-grid .bg-white {
    color: #000 !important;
    background-color: #ffffff !important;
    border: 1px solid #eeeeee;
}
.room-grid .bg-off {
    color: #dddddd;
    background-color: #eeeeee;
}

.room-grid .number-of-votes {
    font-size: .2em;
}

/* Test Mode Page */
.latest-vote {
    width: 100%;
    background-color: #E3447C;
    color: #fff;
}

.latest-vote table {
    font-size: 100px;
    font-family: komika_axisregular, Arial;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.latest-vote .value {
    font-size: 150px;
}

.latest-vote .vote-metadata {
    font-size: 20px;
    opacity: .4;
}
